.btn-agregar {
  background: #1e90ff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 35px;
}
.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 0 30px;
}

.card {
  width: 180px;
  height: auto;
  background: rgba(21, 213, 168, 0.17);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.imagen-producto {
  width: 170px;
  height: auto;
  object-fit: contain;
}

.btn-detalle {
  margin-top: 10px;
  background: #49a942;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
